
@import url('https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Unna", serif;
    font-weight: 400;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #23314C;
}


nav {
    height: 75px;
    background: #33466E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 max(2rem, calc((100vw - 1300px) / 2));
    border-bottom: 4px solid #23314C;
    width: 100%;
    z-index: 10;
}

nav a {
    text-decoration: none;
    color: #FFFCFA;
}

.logo {
    color: #FFFCFA;
    font-size: 2rem;
    font-weight: bold;
}

.nav-item {
    font-size: 1.5rem;
    display: flex;
    gap: 1.5rem;
}


p {
    display: flex;
    align-items: center;
    text-align: left;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 1rem;
}


.about {
    flex-grow: 1;
    width: 100%;
    padding: 2rem 1rem;
    background-color: #23314C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}

.about img {
    width: 420px;
    max-width: 100%;
    height: auto;
}

.about-text {
    width: 550px;
    max-width: 100%;
}

.about-text h1 {
    color: #FFFCFA;
    font-size: 5rem;
    text-transform: capitalize;
    margin-bottom: 1.5rem;
    text-align: center;
}

.about-text h5 {
    color: #FFFCFA;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
    margin-left: 80px;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.about-text p {
    color: #FFFCFA;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 1rem;
    margin-bottom: 45px;
}


@media (max-width: 1000px) {
    .main {
        flex-direction: column;
    }

    .about {
        height: auto;
    }
}

/* Mobile portrait */
@media screen and (max-width: 768px) and (orientation: portrait) {
    .main {
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }

    .about-text h1 {
        font-size: 3rem;
    }

    .about-text h5 {
        font-size: 1.25rem;
        align-items: center;
        text-align: center;
        margin: 0 0 1rem 0;
        font-weight: bold;
        padding-left: 0;
    }

    .about-text p {
        letter-spacing: 1px;
        line-height: 1.75;
        font-size: 0.95rem;
        text-align: center;
    }

    .logo {
        padding-right: 1rem;
    }

    .nav-item {
        font-size: 1rem;
    }
}
