body {
    font-family: "Pixelify Sans", sans-serif;
    background: #0f1624;
    color: white;
    margin: 0;
    padding: 20px;
}

.back-btn {
    display: inline-block;
    background: #4a6fa5;
    padding: 10px 16px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    margin-bottom: 20px;
    cursor: pointer;
}

.back-btn:hover {
    background: #2c394f;
}

.notes-container {
    max-width: 900px;
    margin: auto;
}

.notes-content {
    background: #1a2232;
    padding: 20px;
    border-radius: 8px;
    line-height: 1.6;
    font-size: 18px;
    border: 2px solid #2c394f;
}

.notes-content h2{
    margin: 0 0 14px;
}

.notes-content ul{
    margin: 0;
    padding-left: 22px;
}

.notes-content li{
    margin: 0 0 18px;
    padding: 12px 14px;
    border-radius: 10px;
    background: #0f1624;
    border: 1px solid #2c394f;

    white-space: pre-line;
}

.notes-content li:last-child{
    margin-bottom: 0;
}

.notes-content p{
    margin: 0 0 18px;
    white-space: pre-line;
}
