<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/About.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
<nav>
    <a href="/"><div class="logo">Numbl</div></a>
    <div class="nav-item">
        <a href="about">About</a>
        <a href="courses">Courses</a>
        <a href="signup">Login</a>
    </div>
</nav>
    <section class="about">
        <div class="main">
            <img src="/images/Untitled199_20251217133419.png">
            <div class="about-text">
                <h1>About</h1>
                <h5>What makes Numbl special?</h5>
                <p>Numbl is a website that allows users to browse courses and learn more about math. Numbl offers courses with lessons dedicated to specific branches of math like Algebra, Geometry and Calculus. Numbl is a free-to-use site that allows for easy navigation through specialized class progressions. In addition to courses, Numbl offers students the ability to collaborate alongside each other through live meetings. Centered around building teamwork and interactions, Numbl strives to bring peer-to-peer learning to a vast audience. Our mission is to create the best collaborative site for students to advance in math effectively. </p>
            </div>
        </div>
    </section>

</body>
</html>